<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="board">
   
   
    <select id="selectAll" resultType="com.kedu.study.dto.BoardDTO">
        SELECT * FROM post 
    </select>
    
    
    <select id="findBoardid" parameterType="int" resultType="com.kedu.study.dto.BoardDTO">
        SELECT * FROM post WHERE post_id = #{post_id}
    </select>


	<insert id="insertBoard" parameterType="com.kedu.study.dto.BoardDTO">
  		<selectKey keyProperty="post_id" resultType="int" order="BEFORE">
    		SELECT post_id_seq.NEXTVAL FROM dual
  		</selectKey>
  			insert into post (post_id, parent_board, post_writer, post_title, post_content, post_date, post_view, post_like, post_per, post_tag)
  			values (#{post_id}, #{parent_board}, #{post_writer}, #{post_title}, #{post_content}, sysdate, #{post_view}, #{post_like}, #{post_per}, #{post_tag})
	</insert>


 	<select id="updateBoard" parameterType="com.kedu.study.dto.BoardDTO">
        UPDATE post
        SET post_writer= #{post_writer}, post_title = #{post_title}, post_content = #{post_content}, post_per= #{post_per}, post_tag = #{post_tag}
        WHERE post_id = #{post_id}
    </select>
    

	<delete id="deleteBoard" parameterType="com.kedu.study.dto.BoardDTO">
		delete from post where post_id = #{value}
	</delete>
	
	<!--조회수 증가-->
	<update id="increaseViewCount" parameterType="int">
        UPDATE post
        SET post_view = post_view + 1
        WHERE post_id = #{post_id}
    </update>

	<!--추천수 증가-->
	<update id="increaseLikeCount" parameterType="int">
		UPDATE post SET post_like = post_like + 1
		WHERE post_id = #{post_id}
	</update>
	
	<!--네비게이터-->
	
  		<select id="selectBoardList" resultType="com.kedu.study.dto.BoardDTO" parameterType="map">
    SELECT A.*, e.emp_name
    FROM (
        SELECT p.*, ROWNUM RNUM
        FROM post p
        WHERE p.parent_board = #{parent_board}
        ORDER BY p.post_id DESC
    ) A
    JOIN employee e ON A.post_writer = e.emp_code_id  <!-- emp_code_id를 기준으로 JOIN -->
    WHERE ROWNUM &lt;= #{offset} + #{size}
    AND RNUM &gt; #{offset}
</select>

	
	<select id="countBoard" resultType="int">
	  SELECT COUNT(*) FROM post WHERE parent_board = #{parent_board}
	</select>




 	</mapper>
