<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="calendar">

	<insert id="inputCalendar" parameterType="com.kedu.study.dto.CalendarDTO">
	  <selectKey keyProperty="c_id" resultType="int" order="BEFORE">
	    SELECT c_seq.NEXTVAL FROM dual
	  </selectKey>
		INSERT into calendar values ( 
		      #{c_id},
		      #{c_title},
		      #{emp_id},
		      #{dept_code},
		      #{public_code},
		      sysdate,
		      #{color})
	</insert>
	
	<select id="sharedList" parameterType="int" resultType="com.kedu.study.dto.CalendarDTO">
		SELECT 
		    distinct c.c_id,
            c.c_title,
            c.color
		FROM calendar_share cs
		JOIN calendar c ON cs.c_id = c.c_id
		WHERE cs.target_id IN (
		    SELECT emp_code_id FROM employee WHERE emp_code_id = #{emp_code_id}
		    UNION
		    SELECT emp_dept_id FROM employee WHERE emp_code_id = #{emp_code_id}
		)
	</select>
	
	<select id="selectAllList"  resultType="com.kedu.study.dto.PublicSCalendarDTO">
		select c.C_ID
		     , c.C_TITLE
		     , c.EMP_ID
		     , c.DEPT_CODE
		     , c.PUBLIC_CODE
		     , c.CREATE_DATE
		     , c.COLOR
		     , cs.TARGET_TYPE
		     , cs.TARGET_ID
		  from calendar c
		  left join calendar_share cs on c.c_id = cs.c_id
	</select>
	
	<select id="selectComCal" parameterType="int" resultType="com.kedu.study.dto.CalendarDTO">
		SELECT * from calendar where public_code = 30
	</select>
	
	<select id="selectMyCal" parameterType="int" resultType="com.kedu.study.dto.CalendarDTO">
		SELECT * from calendar where public_code = 10 and emp_id = #{emp_code_id}
	</select>
	
	<insert id="calendarShare" parameterType="com.kedu.study.dto.CalendarShareDTO">
	   INSERT INTO calendar_share (
	    id,
	    c_id,
	    target_type,
	    target_id
	  ) VALUES (
	    calshare_seq.NEXTVAL,
	    #{c_id},
	    #{target_type},
	    #{target_id}
	  )
	</insert>
	
	<delete id="deleteCalendar" parameterType="int">
	{
		CALL PROC_DELETE_CALENDAR (${id})
	}
	</delete>
	
	<update id="updateCalendar" parameterType="com.kedu.study.dto.CalendarDTO">
		UPDATE calendar
		   SET c_title = #{c_title},
        	   color = #{color}
    	 WHERE c_id = #{c_id}
	</update>

</mapper>