<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="calendar">

	<insert id="inputCalendar" parameterType="com.kedu.study.dto.CalendarDTO">
	  <selectKey keyProperty="c_id" resultType="int" order="BEFORE">
	    SELECT c_seq.NEXTVAL FROM dual
	  </selectKey>
		INSERT into calendar values ( 
		      #{c_id},
		      #{c_title},
		      #{emp_id},
		      #{dept_code},
		      #{public_code},
		      sysdate,
		      #{color})
	</insert>
	
	
	
	<select id="selectAllList"  resultType="com.kedu.study.dto.CalendarDTO">
		SELECT * FROM calendar 
	</select>
	
	<select id="selectMyCal" parameterType="int" resultType="com.kedu.study.dto.CalendarDTO">
		SELECT * from calendar where public_code = ${publicCode}
	</select>
	
	<insert id="calendarShare" parameterType="com.kedu.study.dto.CalendarShareDTO">
	   INSERT INTO calendar_share (
	    id,
	    c_id,
	    target_type,
	    target_id
	  ) VALUES (
	    calshare_seq.NEXTVAL,
	    #{c_id},
	    #{target_type},
	    #{target_id}
	  )
	</insert>

</mapper>