<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edmsMapper">

    <!-- 전자결재 등록 -->
<insert id="insertEDMS" parameterType="com.kedu.study.dto.EDMSDTO">
  INSERT INTO edms (
    edms_id,
    form_id,
    edms_c_id,
    com_id,
    state_code,
    edms_title,
    edms_content,
    submit_date,
    ref_dept,
    reject_reason,
    level1,
    level2,
    level3,
    level4,
    final_level,
    start_date,
    end_date
  ) VALUES (
    EDMS_ID_SEQ.nextval,
    #{formId, jdbcType=NUMERIC},
    #{edmsCId, jdbcType=NUMERIC},
    #{comId, jdbcType=NUMERIC},
    #{stateCode, jdbcType=NUMERIC},
    #{edmsTitle, jdbcType=VARCHAR},
    #{edmsContent, jdbcType=VARCHAR},
    SYSDATE,
    #{refDept, jdbcType=VARCHAR},
    #{rejectReason, jdbcType=VARCHAR},
    #{level1, jdbcType=INTEGER},
    #{level2, jdbcType=INTEGER},
    #{level3, jdbcType=INTEGER},
    #{level4, jdbcType=INTEGER},
    #{finalLevel, jdbcType=INTEGER}
    #{startDate, jdbcType=DATE},
	#{endDate, jdbcType=DATE}
  )
</insert>

</mapper>
