<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EDMSCategory">

  <resultMap id="EDMSCategoryResultMap" type="com.kedu.study.dto.EDMSCategoryDTO">
    <result column="EDMS_C_ID" property="edmsCId"/>
    <result column="EDMS_C_NAME" property="edmsCName"/>
  </resultMap>

  <select id="findAllCategories" resultMap="EDMSCategoryResultMap">
    SELECT 
      EDMS_C_ID, 
      EDMS_C_NAME
    FROM edms_category
  </select>

  <select id="findCategoryById" parameterType="int" resultMap="EDMSCategoryResultMap">
    SELECT 
      EDMS_C_ID, 
      EDMS_C_NAME
    FROM edms_category
    WHERE EDMS_C_ID = #{categoryId}
  </select>

  <insert id="insertCategory" parameterType="com.kedu.study.dto.EDMSCategoryDTO">
    INSERT INTO edms_category (EDMS_C_ID, EDMS_C_NAME)
    VALUES (#{edmsCId}, #{edmsCName})
  </insert>

  <update id="updateCategory" parameterType="com.kedu.study.dto.EDMSCategoryDTO">
    UPDATE edms_category
    SET 
      EDMS_C_NAME = #{edmsCName}
    WHERE EDMS_C_ID = #{edmsCId}
  </update>

  <delete id="deleteCategory" parameterType="int">
    DELETE FROM edms_category WHERE EDMS_C_ID = #{categoryId}
  </delete>

</mapper>
