<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="MsgEmp">

	<select id="select" resultType="com.kedu.study.dto.MsgEmpDTO">
		SELECT e.emp_code_id AS emp_code_id, e.emp_name AS emp_name, d.dept_name AS dept_name
		FROM employee e
		JOIN department d 
		ON e.emp_dept_id = d.dept_id
	</select>
	
	<select id="selectMine" resultType="com.kedu.study.dto.MsgEmpMineDTO">
		select emp_code_id,emp_dept_id,emp_name from employee where emp_loginid = #{userId}
	</select>
	
	<insert id="madeChatRoom" parameterType="map">
		insert into msg values(chatroom_seq.nextval,#{targetname},#{myname},concat(concat(#{targetname}, ','),#{myname}) ,2)
		<selectKey order="AFTER" keyProperty="seq" resultType="int">
        select chatroom_seq.currval from dual
    	</selectKey>
	</insert>
	
	<select id="checkIfExists" parameterType="map" resultType="int">
   SELECT COUNT(*) 
    FROM msg
    WHERE group_member = CONCAT(CONCAT(#{targetname}, ','), #{myname})
       OR group_member = CONCAT(CONCAT(#{myname}, ','), #{targetname})
	</select>
	
	<select id="checkRoomSeqExist" resultType="map">
    SELECT msg_group_id
    FROM msg
     WHERE group_member = CONCAT(CONCAT(#{targetId}, ','), #{myId})
       OR group_member = CONCAT(CONCAT(#{myId}, ','), #{targetId})
	</select>
	
	<select id="showMessages" resultType="com.kedu.study.dto.MessageDTO">
    SELECT m.msg_id,m.msg_group_id,m.msg_emp_id,m.msg_content,m.send_date,m.read 
    FROM messages m
    join msg g
    on m.msg_group_id = g.msg_group_id
    where m.msg_group_id = #{seq}
    order by m.msg_id asc
	</select>
	
	<select id="selectMyId" resultType="int">
		select emp_code_id from employee where emp_loginid = #{userId}
	</select>
	
	<select id="selectRoom" resultType="map">
		 SELECT 
    g.MSG_GROUP_ID,
    g.MSG_GROUP_NAME,
    g.GROUP_CREATOR,
    g.GROUP_MEMBER,
    g.NUM_MEMBERS,
    e.EMP_NAME,
    m.LAST_SEND_DATE
FROM MSG g
JOIN EMPLOYEE e
  ON TO_NUMBER(g.MSG_GROUP_NAME) = e.EMP_CODE_ID
JOIN (
    SELECT 
        MSG_GROUP_ID,
        MAX(SEND_DATE) AS LAST_SEND_DATE
    FROM MESSAGES
    GROUP BY MSG_GROUP_ID
) m
  ON g.MSG_GROUP_ID = m.MSG_GROUP_ID
WHERE g.GROUP_CREATOR = #{myId}
ORDER BY m.LAST_SEND_DATE DESC
	</select>
	
</mapper>