<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="MsgEmp">

	<select id="select" resultType="com.kedu.study.dto.MsgEmpDTO">
		SELECT e.emp_code_id AS emp_code_id, e.emp_name AS emp_name, d.dept_name AS dept_name
		FROM employee e
		JOIN department d 
		ON e.emp_dept_id = d.dept_id
	</select>
	
	<select id="selectMine" resultType="com.kedu.study.dto.MsgEmpMineDTO">
		select emp_code_id,emp_dept_id,emp_name from employee where emp_loginid = #{userId}
	</select>
	
	<insert id="madeChatRoom" parameterType="map">
		insert into msg values(chatroom_seq.nextval,#{targetname},#{myname},concat(concat(#{targetname}, ','),#{myname}) ,2)
	</insert>
	
	<select id="checkIfExists" parameterType="map" resultType="int">
   SELECT COUNT(*) 
    FROM msg
    WHERE group_member = CONCAT(CONCAT(#{targetname}, ','), #{myname})
       OR group_member = CONCAT(CONCAT(#{myname}, ','), #{targetname})
</select>
	
</mapper>