<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="reserve">
	<select id="getResources" resultType="com.kedu.study.dto.RescTypeDTO">
		SELECT * FROM resourcetype
	</select>
	
	<select id="resourceList" resultType="com.kedu.study.dto.ResourceDTO">
		SELECT * FROM resources
	</select>
	
	<insert id="addReserve" parameterType="com.kedu.study.dto.ReserveDTO">
		INSERT INTO reservation 
		VALUES (
				resv_seq.nextval,
				#{resource_id},
				#{resv_emp},
				#{resv_date},
				#{resv_stime},
				#{resv_etime},
				#{resv_title}
			)
	</insert>
	
	<select id="getAllResv" resultType="com.kedu.study.dto.ReserveDTO">
		SELECT resv_id
			 , resource_id
			 , resv_emp
			 , TO_CHAR(resv_date, 'yyyy-mm-dd') as resv_date
			 , resv_stime
			 , resv_etime
			 , resv_title			   
		  FROM reservation
	</select>
	
	<select id="getMyResv" parameterType="int" resultType="com.kedu.study.dto.ReserveDTO">
		SELECT rs.resv_id
			 , rs.resource_id
			 , rs.resv_emp
			 , TO_CHAR(rs.resv_date, 'yyyy-mm-dd') as resv_date
			 , rs.resv_stime
			 , rs.resv_etime
			 , rs.resv_title
			 , rc.resc_name
			 , rc.resc_type_id		   
		  FROM reservation rs
		  JOIN resources rc ON rs.resource_id = rc.resc_id
		 WHERE resv_emp = ${id}
	</select>
	
	
	<delete id="deleteById" parameterType="int">
		DELETE 
		  FROM reservation 
		 WHERE resv_id = ${id}
	</delete>
	
	<select id="isOverlapping" parameterType="com.kedu.study.dto.ReserveDTO" resultType="int">
	  SELECT COUNT(*)
	    FROM reservation
	   WHERE resource_id = #{resource_id}
	     AND resv_date = #{resv_date}
	     AND (
		      resv_stime <![CDATA[ < ]]> #{resv_etime}
		      AND resv_etime <![CDATA[ > ]]> #{resv_stime}
		    )
	</select>

</mapper>