<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="schedule">

	<insert id="inputEvent" parameterType="com.kedu.study.dto.ScheduleDTO">
		INSERT into schedule values ( 
			  sche_seq.nextval,
		      #{category_id, jdbcType=INTEGER},
		      #{title, jdbcType=VARCHAR},
		      #{content, jdbcType=VARCHAR},
		      #{start_date, jdbcType=DATE},
		      #{end_date, jdbcType=DATE},
		      #{startTime, jdbcType=TIMESTAMP},
		      #{endTime, jdbcType=TIMESTAMP})
	</insert>
	
	<insert id="inputCalender" parameterType="com.kedu.study.dto.ScheduleCategoryDTO">
		INSERT into schedule_category values ( 
		      #{s_c_id},
		      #{s_c_name},
		      #{color})
	</insert>

</mapper>