<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="schedule">

	<insert id="inputEvent" parameterType="com.kedu.study.dto.ScheduleDTO">
		INSERT into schedule values (#{schedule_id}, #{s_category_id}, #{s_emp_id}, #{s_dept_id}, #{schedule_title}, #{schedule_content}, #{start_date}, #{end_date}, #{startTime}, #{endTime});
	</insert>

</mapper>